[Unit]
Description=Cear service

[Service]
Environment="CEAR_KEY=CEAR_KEY_VALUE"
WorkingDirectory=/home/oskarszura/gowork/src/github.com/coda-it/cear
ExecStart=/home/oskarszura/gowork/src/github.com/coda-it/cear/main
Restart=on-failure

[Install]
WantedBy=multi-user.target